@model IEnumerable<TreeViewModel>

@{
	ViewData["Title"] = "Tree Wiki";

	var trees = Model.ToList();
}

<div class="container mt-4">
	<h1>@ViewData["Title"]</h1>
	<div class="row">
		@foreach (var tree in trees)
		{
			<div class="col-md-4 mb-4">
				<div class="custom-container" style="background-image: url('@tree.ImageUrl');">
					<div class="overlay">
						<div class="custom-info">
							<h3 class="custom-name">@tree.Name</h3>
							<a asp-controller="Tree" asp-action="Details" asp-route-id="@tree.Id" class="btn btn-primary btn-details">Details</a>
						</div>
					</div>
				</div>
			</div>
		}
	</div>
</div>
