@model IEnumerable<AnimalViewModel>

@{
	ViewData["Title"] = "Tree wiki";

	var animals = Model.ToList();
}

<div class="container mt-4">
	<h1 class="text-white">Trees Collection</h1>
	<div class="row">
		@foreach (var animal in animals)
		{
			<div class="col-md-4 mb-4">
				<div class="custom-container" style="background-image: url('@animal.ImageUrl');">
					<div class="overlay">
						<div class="custom-info">
							<h3 class="custom-name">@animal.Name</h3>
							<a href="@Url.Action("Details", "Tree", new { id = animal.Id })" class="btn btn-primary btn-details">Details</a>
						</div>
					</div>
				</div>
			</div>
		}
	</div>
</div>