html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}


.custom-container {
    position: relative;
    height: 250px;
    border: 1px solid #4CAF50;
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(76, 175, 80, 0.7);
}

.custom-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.custom-name {
    margin: 0;
    color: #ffffff;
}

.btn-details {
    color: #ffffff;
    text-decoration: none;
}

.btn-details:hover {
    color: #ffffff;
    text-decoration: none;
}

.btn-details:focus {
    box-shadow: none;
}

.btn-hover-effect:hover {
    background-color: #e8e8e8;
}

.bg-green {
    background-color: #d4f7d4;
    border: 1px solid #48ad48; 
    border-radius: 10px;
}

.bg-green .card-title {
    color: #1a732a; 
}

.bg-green .card-text {
    color: #4c804c; 
}


.card {
    height: 320px;
    width: 18rem;
    border-radius: 10px;
}

.card-img-container {
    height: 200px;
    overflow: hidden;
    border-radius: 10px 10px 0 0; 
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-body {
    padding: 10px;
}