@{
	ViewData["Title"] = "Home Page";
}
<div class="mt-4 p-5 bg-success text-center">
    <h2 class="display-4 text-white">Hello, Admin!</h2>
    <p class="lead mb-1 mt-3 text-white" style="font-size: 25px;">
        This is your administrator area - In the forum part of the app you can <b>read</b>, <b>create</b>,
        <b>delete</b> and <b>edit</b> articles.
        <br />In the wiki part you can <b>edit or delete</b> existing posts or <b>add</b> new ones!
    </p>
    <hr class="my-4">
    <a asp-area="" asp-controller="Tree" asp-action="All"
       class="btn btn-success btn-lg">Tree wiki</a>
    <span class="text-white"> | </span>
    <a asp-area="" asp-controller="Animal" asp-action="All"
       class="btn btn-success btn-lg">Animal wiki</a>
    <span class="text-white"> | </span>
    <a asp-area="" asp-controller="Article" asp-action="All"
       class="btn btn-success btn-lg">Articles</a>
</div>
